extends layout
block header
  mwc-top-app-bar-fixed(centerTitle)
    .title-area(slot="title")
      h1= title
      p You are on site #{type}
block content
  .main-area
    paper-card(heading="Create Auction", alt="Create")
        .card-content
            mwc-textfield.rounded(label="Auction Title", outlined)
            mwc-textarea.rounded(label="Auction Description", outlined)
        .card-actions
            mwc-button Cancel
            mwc-button Create

